# CPSC415/515 Big Data Programming
# Project 3: Visualization and Calculations of Physical Strength & Fear-Related Personality
# Author: Jason Kotowski

In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy as sp
from datetime import datetime
plt.rc("figure", figsize=(10, 6))
rm = np.random.default_rng(10) # 10 randome seed

# project input parameters
physical_strength_personality_file_name = "Sample_5_corrected.csv"

# parameters for simulation
num_simulations = 100
confidence = 0.95

In [10]:
# Load survey data
# Clean, organize and generate a data frame
# Use regular expression when needed
# @return: a DataFrame with header: []

def load_data():
    # read from .csv file
    survey_data = pd.read_csv("Sample_5_corrected.csv", keep_default_na=False)
    
    # create dataframe
    data_combined = pd.DataFrame(survey_data)
    
    return data_combined

# load tata
data_combined = load_data()
data_combined

,p_id,age,female,ethnicity,grip,fear_mean,anx_mean,sent_mean,emo_mean
0,272,18,0,1,36.40,3.00,3.50,3.25,3.00
1,274,20,0,1,34.24,3.25,2.00,3.50,4.00
2,276,18,0,3,38.86,3.00,3.00,3.00,3.00
3,278,19,0,2,33.69,3.00,3.75,3.25,3.25
4,280,19,0,1,47.53,2.75,3.50,3.00,3.75
...,...,...,...,...,...,...,...,...,...
300,604,18,0,2,36.32,2.75,3.00,3.00,3.50
301,606,18,0,1,41.98,3.75,3.50,2.75,3.75
302,610,18,0,5,32.18,2.50,3.50,3.75,3.00
303,612,20,0,1,17.77,3.00,3.75,3.75,3.25
304,614,19,0,1,45.11,3.00,4.00,3.50,3.50